# Xcode
#
# gitignore contributions for Apple developers
# https://github.com/github/gitignore/blob/main/Swift.gitignore

## Build results
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Xcode 8 and later
##
## Experience with Xcode 8 and later has shown that these are usually
## ignored. If you want to include them, you can un-comment them.
# *.xcresult
# *.xcstickers

## Swift Package Manager
##
## Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
# Package.pins
# Package.resolved
# .build/

## CocoaPods
##
## We recommend against adding the Pods directory to your .gitignore. However
## if you're sure you want to do it, un-comment the next line.
# Pods/

## Carthage
##
## Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts/
# Carthage/Build/

## AccuRev
.accurev/

## Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

## Code Signing
*.cert
*.mobileprovision
*.provisionprofile

## OS X
.DS_Store
